$sans: 'Roboto Condensed', Tahoma, Futura, 'Avant Garde', 'Arial Rounded MT Bold', Arial, sans-serif;

$black15: rgb(15,15,15);
$black33: rgb(33,33,33);
$black215: rgb(215,215,215);
$black245: rgb(245,245,245);
$brandGold: #FBB829;
$linkBlue: #26ADE4;
